body {
    /*0 removes all default margins (top, right, bottom, left)*/
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 20vh means 20% of the viewport height (the browser window’s height) */
    min-height: 20vh;
    text-align: center;
}

h1 {
    /* 2.5 times of the parent element's font size, default is typically 16px */
    font-size: 2.5em;
    color: #2c3e50;
    margin: 0;
    text-align: center;
}

.content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h2, h3, h4 {
    color: #34495e;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

p {
    font-size: 1em;
    color: #333;
    margin: 0.5em 0;
}
